---
layout: default
title: "Playlists"
date: 2014-06-02T12:26:34-04:00
modified: 2014-08-18T14:21:32-04:00
excerpt: "A collection of personal playlists"
feature:
visible: true
headline: "Featured Articles"
category: playlists
image:
feature:
---

{% if page.image.feature %}
    {% include page-hero.html %}
{% endif %}

<div id="main" role="main">
    <div class="article-author-side">
        {% include _author-bio.html %}
    </div>
    <div id="index">
        <h1>{{ page.title }}</h1>
        <p></p>
        <section class="tiles">
        {% for post in site.posts %}
            {% capture modulo %}{{ forloop.index | modulo: 20 }}{% endcapture %}

            {% include post-grid.html %}
        {% endfor %}
        </section>
    </div><!-- /#index -->
</div><!-- /#main -->
