---
layout: default
---

{% if page.image.feature %}
  {% include page-hero.html %}
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="post">
    <div class="headline-wrap">
      {% if page.link %}
        <h1 class="post-title"><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1 class="post-title">{{ page.title }}</h1>
      {% endif %}
      <!--<p class="page__meta">-->
        <!--<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d-%m-%Y" }}</time>-->
      <!--</p>-->
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      {{ content }}
      <hr />
      <footer role="contentinfo">
        {% if page.share != false %}
          {% include _social-share.html %}
        {% endif %}
        <p class="byline">
          <strong>{{ page.title }}</strong> was published on
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d-%m-%Y" }}</time>
          {% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%d-%m-%Y" }}">{{ page.modified | date: "%d-%m-%Y" }}</time>{% endif %}.</p>
      </footer>
    </div><!-- /.article-wrap -->
  {% if site.owner.disqus-shortname and page.comments == true %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}
  </article>
</div><!-- /#main -->

{% include post-related.html %}


